<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Sparrow</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/item/items/">ITEM <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/suppliers">SUPPLIER</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/purchase">PURCHASE </a>
        </li>


        <li class="nav-item active">
          <a class="nav-link" href="/sale">SALE </a>
        </li>
        
        <li class="nav-item active">
          <a class="nav-link" href="/purchase_report/">PURCHASE-REPORT</a>
        </li>

        
       
        <li class="nav-item active">
          <a class="nav-link" href="/sale_report/">SALE-REPORT</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/finalreport/">AVAILABLE-REPORT</a>
        </li>

       
      </ul>
    </div>
  </nav>